[Desktop Entry]
Version=1.0
Type=Application
Name=Ufemtizm
Comment=Convert times between different timezones
Exec=Ufemtizm
Icon=ufemtizm
Terminal=false
Categories=Utility;Qt;
StartupNotify=true
StartupWMClass=Ufemtizm
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
