[Desktop Entry]
Version=1.0
Type=Application
Name=Unfuck My TimeZone Math
Comment=Convert times between different timezones
Exec=UnfuckMyTimeZoneMath
Icon=unfuck-my-timezone-math
Terminal=false
Categories=Utility;Qt;
StartupNotify=true
StartupWMClass=UnfuckMyTimeZoneMath
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
