<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Unfuck My TimeZone Math</Name>
    <Version>1.0.0</Version>
    <Title>Unfuck My TimeZone Math Installer</Title>
    <Publisher>Ray Parker</Publisher>
    <ProductUrl>https://github.com/RayParkerBassPlayer/UnfuckMyTimeZoneMath</ProductUrl>
    <StartMenuDir>Unfuck My TimeZone Math</StartMenuDir>
    <TargetDir>@ApplicationsDir@/UnfuckMyTimeZoneMath</TargetDir>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <AllowSpaceInPath>true</AllowSpaceInPath>
    <RunProgram>@TargetDir@/UnfuckMyTimeZoneMath.exe</RunProgram>
    <RunProgramDescription>Launch Unfuck My TimeZone Math</RunProgramDescription>
</Installer>
